@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
/*==== S Reset ====*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
a {
  color: #2e9afe;
  text-decoration: none;
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
hr {
  margin: .7em 0;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9;
}
p {
  padding: .5em 0;
}
li {
  padding: .2em 0;
}
ol,
ul {
  list-style-position: inside;
}
ol ul,
ul ol,
ul ul,
ol ol {
  margin-left: 1em;
}
i {
  font-style: normal;
}
pre code {
  padding: 3px;
  font: 13px/1.6 Menlo, "Andale Mono", Consolas, "Courier New", Monaco, monospace;
  display: block;
  overflow: auto;
}
pre {
  border: 1px solid #ddd;
  font-family: Bitstream Vera Sans Mono,monospace;
  padding: 5px;
  background-color: #f8f8f8;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}
blockquote {
  display: block;
  text-align: justify;
  border-left: 4px solid #eeeeee;
  margin: 1em 0em;
  padding-left: 1.5em;
}
blockquote p {
  margin: 0;
  padding: .5em 0;
}
h2,
h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}
h4 {
  padding: 10px 0 5px;
}
body {
  font-size: 14px;
  word-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Galdeano", "Hiragino Sans GB", "Microsoft YaHei", Trebuchet, "Trebuchet MS", Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
/*==== E Reset ====*/
/*==== S Main ====*/
.container {
  width: 600px;
  margin: 2em auto;
  display: block;
  padding: 0 2em;
}
.content {
  font-size: 16px;
  line-height: 24px;
}
.content h1 {
  padding: .5em 0;
}
.content img {
  max-width: 600px;
  display: block;
  margin: 4px auto;
  -webkit-box-shadow: #999999 1px 1px 4px;
  box-shadow: #999999 1px 1px 4px;
}
.tagcloud {
  margin-bottom: 1em;
}
.tagcloud a {
  margin-right: 4px;
}
.tagcloud a:hover {
  color: #333333 !important;
  text-decoration: none;
}
.listing-item,
.listing-seperator {
  list-style-type: none;
}
.listing-seperator {
  font-weight: bold;
}
.listing-item a {
  padding: .2em 1em;
}
.listing-item time {
  color: #999999;
}
.meta {
  text-align: right;
  font-size: 12px;
}
.pageNav {
  font-weight: bold;
  font-size: 17px;
}
.pageNavInvalid {
  font-weight: bold;
  font-size: 17px;
  color: #D0D0D0;
}
header {
  padding: .5em 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
.nav {
  font-family: "Electrolize", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  float: left;
  margin-left: -12em;
  width: 9em;
  text-align: right;
}
.nav i {
  display: inline-block;
  visibility: hidden;
  color: #2e9afe;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav a {
  display: block;
  padding: .7em 1em;
  color: #000000;
}
.nav a:hover {
  background-color: #2e9afe;
  text-decoration: none;
  color: #f9f9f9;
  -webkit-transition: color .2s linear;
}
.nav a:hover i {
  color: #f9f9f9;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.nav .current i {
  visibility: visible;
}
.favnav {
  padding: .5em 0;
  border-top: 1px dashed #ccc;
  margin-top: .5em;
}
.favnav a {
  font-size: .95em;
  color: #333;
}
.post {
  padding: .5em 0em;
}
h1 {
  font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 1.6em;
  color: #000;
}
h2 {
  font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 1.4em;
  color: #111;
}
h3 {
  font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 1.2em;
  color: #222;
}
h4 {
  font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 1em;
  color: #333;
}
embed,
object,
iframe {
  display: block;
  margin: 4px auto;
}
.gist {
  font-size: 12px;
  line-height: 1.6;
}
footer {
  display: block;
  border-top: 1px dashed #CCC;
}
footer small {
  font-size: 13px;
  color: #999;
}
.copyright {
  text-align: center;
}
.copyright a {
  margin: 1px;
  border: 1px solid rgba(1, 1, 1, 0);
  border-bottom: 1px dashed #BBB;
  color: #2e9afe;
  text-decoration: none;
}
.copyright a:hover {
  color: #fafafa !important;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#646464));
  -webkit-box-shadow: #000000 0px 0px 2px, rgba(255, 255, 255, 0.15) 0px 1px 1px inset;
  text-decoration: none;
}
.label {
  font-size: 11.25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 3px 2px;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}
.paginator {
  font: 14px Arial, Helvetica, sans-serif;
  color: #AAA;
  margin: 20px 0;
  line-height: 150%;
  display: block;
}
.paginator a,
.paginator span {
  padding: 0 4px;
  margin: 2px;
  text-decoration: none;
}
.paginator .current-page {
  color: white;
  background: #2e9afe;
}
.paginator a:hover {
  color: white;
  background: #83BF73;
}
.highlight {
  margin-bottom: 10px;
}
.highlight pre {
  background: transparent;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
}
/*table
-------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
/*==== E Main ====*/
.highlight {
  background: #202020;
  color: #d0d0d0;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .hll {
  background-color: #404040;
}
.highlight .c {
  color: #999999;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .g {
  color: #d0d0d0;
}
.highlight .k {
  color: #6ab825;
  font-weight: bold;
}
.highlight .l {
  color: #d0d0d0;
}
.highlight .n {
  color: #d0d0d0;
}
.highlight .o {
  color: #d0d0d0;
}
.highlight .x {
  color: #d0d0d0;
}
.highlight .p {
  color: #d0d0d0;
}
.highlight .cm {
  color: #999999;
  font-style: italic;
}
.highlight .cp {
  color: #cd2828;
  font-weight: bold;
}
.highlight .c1 {
  color: #999999;
  font-style: italic;
}
.highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}
.highlight .gd {
  color: #d22323;
}
.highlight .ge {
  color: #d0d0d0;
  font-style: italic;
}
.highlight .gr {
  color: #d22323;
}
.highlight .gh {
  color: #ffffff;
  font-weight: bold;
}
.highlight .gi {
  color: #589819;
}
.highlight .go {
  color: #cccccc;
}
.highlight .gp {
  color: #aaaaaa;
}
.highlight .gs {
  color: #d0d0d0;
  font-weight: bold;
}
.highlight .gu {
  color: #ffffff;
  text-decoration: underline;
}
.highlight .gt {
  color: #d22323;
}
.highlight .kc {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kd {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kn {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kp {
  color: #6ab825;
}
.highlight .kr {
  color: #6ab825;
  font-weight: bold;
}
.highlight .kt {
  color: #6ab825;
  font-weight: bold;
}
.highlight .ld {
  color: #d0d0d0;
}
.highlight .m {
  color: #3677a9;
}
.highlight .s {
  color: #ed9d13;
}
.highlight .na {
  color: #bbbbbb;
}
.highlight .nb {
  color: #24909d;
}
.highlight .nc {
  color: #447fcf;
  text-decoration: underline;
}
.highlight .no {
  color: #40ffff;
}
.highlight .nd {
  color: #ffa500;
}
.highlight .ni {
  color: #d0d0d0;
}
.highlight .ne {
  color: #bbbbbb;
}
.highlight .nf {
  color: #447fcf;
}
.highlight .nl {
  color: #d0d0d0;
}
.highlight .nn {
  color: #447fcf;
  text-decoration: underline;
}
.highlight .nx {
  color: #d0d0d0;
}
.highlight .py {
  color: #d0d0d0;
}
.highlight .nt {
  color: #6ab825;
  font-weight: bold;
}
.highlight .nv {
  color: #40ffff;
}
.highlight .ow {
  color: #6ab825;
  font-weight: bold;
}
.highlight .w {
  color: #666666;
}
.highlight .mf {
  color: #3677a9;
}
.highlight .mh {
  color: #3677a9;
}
.highlight .mi {
  color: #3677a9;
}
.highlight .mo {
  color: #3677a9;
}
.highlight .sb {
  color: #ed9d13;
}
.highlight .sc {
  color: #ed9d13;
}
.highlight .sd {
  color: #ed9d13;
}
.highlight .s2 {
  color: #ed9d13;
}
.highlight .se {
  color: #ed9d13;
}
.highlight .sh {
  color: #ed9d13;
}
.highlight .si {
  color: #ed9d13;
}
.highlight .sx {
  color: #ffa500;
}
.highlight .sr {
  color: #ed9d13;
}
.highlight .s1 {
  color: #ed9d13;
}
.highlight .ss {
  color: #ed9d13;
}
.highlight .bp {
  color: #24909d;
}
.highlight .vc {
  color: #40ffff;
}
.highlight .vg {
  color: #40ffff;
}
.highlight .vi {
  color: #40ffff;
}
.highlight .il {
  color: #3677a9;
}