.xdata_c1{
    color:#F70;
}
.xdata_c2{
    color:#1d7ad9;
}
.xdata_hidden{
    display: none !important;
}
.xdata_visible{
    display: block !important;
}
.xdata_loading {
    display: inline-block;
    height:20px;
    width:20px;
    margin:0 auto;
    position:relative;
    -webkit-animation: xdataRotation .6s infinite linear;
    -moz-animation: xdataRotation .6s infinite linear;
    -o-animation: xdataRotation .6s infinite linear;
    animation: xdataRotation .6s infinite linear;
    border-left:2px solid rgba(0,174,239,.15);
    border-right:2px solid rgba(0,174,239,.15);
    border-bottom:2px solid rgba(0,174,239,.15);
    border-top:2px solid rgba(0,174,239,.8);
    border-radius:100%;
}

@-webkit-keyframes xdataRotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes xdataRotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes xdataRotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes xdataRotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.xdata_tagcover{position:absolute;z-index:10000;color:#fff;}
.xdata_tagcover_bg{position: absolute;z-index: 1;top:0;left:0;right:0;bottom:0;background-color: #000;opacity: 0.6;}
.xdata_tagcover_bd{position: relative;z-index: 2;padding:10px;text-align: center;}
.xdata_ytagtrigger_on{background-color: #efefef;font-weight: bold;}
.xdata_bootup{
    background: #333;
    width:90px;
    border:1px solid #efefef;
    position: fixed;
    right:-105px;
    top: 0;
    padding:5px;
    z-index: 10000;
    opacity: 0.5;
    text-align: center;
    transition:all .4s ease-out;
 }
    .xdata_bootup .xdata_loading{position: absolute;top:0;left:50%;margin-left: -10px;}
    .xdata_show{
        right:0;
        opacity: 1;
    }

.xdata_wrap{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    width:401px;
    z-index: 10001;
    transition:all .5s ease-out;
 }
     .xdata_wrap_hide{
        right:-387px;
     }
    .xdata_close{
        position: absolute;
        left: -10px;
        top: 0;
        width: 24px;
        height: 24px;
        font: 20px/24px Arial;
        text-align: center;
        color: #fdfdfd;
        background: #333;
        border-radius: 50%;
        visibility: hidden;
        z-index: 5;
        -webkit-transform:rotate(45deg);
    }
    .xdata_close:hover{text-decoration: none;}
    .xdata_wrap:hover .xdata_close{
        visibility: visible;
    }
    .xdata_wrap_hide .xdata_close{
        -webkit-transform:rotate(0);
        visibility: visible;
    }
    .xdata_wrap_hide .data_pop{display: none;}
    .xdata_keychart{
        display: none;
    }
    /* 排行榜 */
    .xdata_rank{
        display: none;
        max-height: 400px;
        overflow: auto;
    }
    /* 自定义单元 */
    .xdata_mods{max-height: 400px;overflow: auto;}
    .xdata_mods ul{padding-top: 10px;}
    .xdata_mods a {padding: 5px;}

.xdata_ytagchart .xdata_loading,.xdata_ytagchart .xdata_loading1{display: block;margin:10px auto;}


/* xdata ui by feeling 
===================================*/
.data_ui{overflow:auto; position:absolute; right:0; top:0; width:400px; height:100%; border-left:1px solid #CCC; background-color:#FFF; box-shadow:-2px 0 2px rgba(0,0,0,0.1); font-family:"microsoft yahei";}

/*===== 顶部选项卡 =====*/
.data_tab{}
    .data_tab ul{display:-webkit-box;}
    .data_tab li{-webkit-box-flex:1;}
    .data_tab li a{display:block; padding:10px 0; background-color:#efefef; text-align:center;}
    .data_tab li a.on{background-color:#FFF;}


/*===== 单个选项卡 =====*/
.data_show{padding:0 10px;}

    /*===== 时间切换 =====*/
    .data_time{margin:10px 0; text-align:center;}
        .data_time input{width:120px;}
        .data_time span{margin:0 5px;}


    /*===== 数据趋势 =====*/
    .data_total{padding:10px 0; text-align:center;}
        .data_total_inner{margin:auto; width:90%; height:200px;}


    /*===== 排行 =====*/
    .data_rank{border-top:1px solid #CCC;}
        .data_rank_btn{padding:10px 0; text-align:right;}
        .data_rank_btn a{margin:0 10px;}

        .data_rank_list{}
        .data_rank_list h3{padding:10px; background-color:#E7E7E7;}
        .data_rank_list ol{ list-style-type:decimal; list-style-position:inside;padding-top:10px;}
        .data_rank_list li{position: relative;}
        .data_rank_list li:hover{background-color:#F7F7F7;}
        .data_rank_list a{display:inline-block; padding:10px 5px;height:18px;max-width:250px;text-overflow:ellipsis;}
        .data_rank_list sup{
            display: inline-block;
            background: #2f7ed8;
            color: #fdfdfd;
            padding: 1px 3px;
            top: -1px;
            position: relative;
            border-radius: 4px;
        }

    /*===== 详情 =====*/
        .data_pop{position:absolute; right:401px; bottom:405px; padding:20px; width:600px; background-color:#FFF; box-shadow:0 0 5px rgba(0,0,0,0.4);transition:all .2s ease-out;}
        .data_pop:after{
            overflow:hidden;
            position:absolute;
            content:" ";
            right:-20px;
            bottom:20px;
            width:0;
            height:0;
            border-width:10px;
            border-color:transparent transparent transparent #666;
            border-style:dashed dashed dashed solid;
            font-size:0;
        }